<div class="container">

	<p>
	  <strong>Item Name:</strong>
	  <%= @article.title %>
	</p>
	 
	<p>
	  <strong>Description:</strong>
	  <%= @article.text %>
	</p>

</div>

<div class ="container">
  <h2>Comments</h2>

  <h3>Please comment if you are interested in buying this product. Include your contact information. Thanks.</h3>

  <% @article.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <p>
    <%= link_to 'Delete Comment', [comment.article, comment], class: "small button",
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>

<div class="container">
  <h2>Add Comment</h2>

  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Create Comment", :id => "save-button" %>
    </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_article_path(@article), class: "big button" %>
<%= link_to 'Back', articles_path, class: "big button" %>
